body{
    background: rgba(244, 244, 233, 1);
    color: rgba(56, 43, 43, 1);
    font-family: "quiverleaf-cf", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
    margin: 0;
}

a{
    display: inline-block;
    float: right;
}

.roofs{
    display: flex;
    position: relative;
    top: -20px;
    margin: 0;
    padding: 0; 
}
.left-roof{
    width: 54.3%;
    scale: 1.05;
    margin: auto;
    position: relative;
    left: -73px;
    top: 5px;
}
.right-roof{
    width: 54.3%;
    scale: 1.05;
    transform: scaleX(-1);
    position: relative;
    right: 40px;
    top: 5px;
}


.container{
    position: relative;
    height: 100%;
}
.left-columns{
    background-color: rgba(94, 0, 0, 0.681);
    width: 100px;
    height: 110vh; 
    display: inline-block;
    margin: 0 25px 0 0;
    position: absolute;
    left: 35px;
    top: -15px;
}
.column{
    background-color: rgba(94, 0, 0, 0.681);
    width: 70px;
    height: 110vh; 
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 47vw;
}
.right-columns{
    background-color: rgba(94, 0, 0, 0.681);
    width: 100px;
    height: 110vh;
    margin: 0 25px 0 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: -15px;
    right: 20px;
}

.text1{
    display: inline-block;
    position: absolute;
    font-size: 22px;
    line-height: 1.4;
    width: 430px;
    padding: 10px;
    margin-top: 10px;
    top: -20px;
    left: 170px;
}
.text2{
    display: inline-block;
    position: absolute;
    font-size: 22px;
    line-height: 1.4;
    width: 430px;
    padding: 10px;
    margin-top: 10px;
    top: -20px;
    right: 170px;
}

.ground{
    background-color: tan;
    height: 90px;
    width: 100vw;
    display: inline-block;
    position: absolute;
    bottom: -325px;

}
