body{
    background-color: #c4c8ba;
    color: #bbc1ac;
    font-family: "gyst-variable", sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    display: inline-block;
}

.roofs{
    display: flex;
    position: relative;
    top: -20px;
    margin: 0;
    padding: 0; 
    filter: saturate(0.65)
    
}
.left-roof{
    width: 54.3%;
    scale: 1.05;
    margin: auto;
    position: relative;
    left: -73px;
    top: 5px;
}
.right-roof{
    width: 54.3%;
    scale: 1.05;
    transform: scaleX(-1);
    position: relative;
    right: 40px;
    top: 5px;
}


.container{
    position: relative;
    height: 100%;
}
.left-columns{
    background-color: rgb(115, 86, 86);
    width: 100px;
    height: 140vh; 
    display: inline-block;
    margin: 0 25px 0 0;
    position: absolute;
    left: 35px;
    top: -15px;
}
.column{
    background-color: rgb(115, 86, 86);
    width: 70px;
    height: 140vh; 
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 47.2vw;
}
.right-columns{
    background-color: rgb(115, 86, 86);
    width: 100px;
    height: 140vh;
    margin: 0 25px 0 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: -15px;
    right: 20px;
}

.text1{
    text-indent: 30px;
    display: inline-block;
    position: absolute;
    font-size: clamp(1rem, 22px, 3rem );
    line-height: 1.4;
    width: 453px;
    height: 140vh;
    padding: 25px;
    top: -15px;
    left: 135px;
    background: linear-gradient(180deg, rgb(56, 34, 35) 0%, rgba(36,0,2,0.7861738445378151) 70%, rgba(0,213,255,0) 100%);
    animation: loadin 1s ease-in;
}
.text2{
    text-indent: 30px;
    display: inline-block;
    position: absolute;
    font-size: clamp(1rem, 22px, 3rem );
    line-height: 1.4;
    width: 449px;
    height: 140vh;
    padding: 25px;
    top: -15px;
    right: 145px;
    background: linear-gradient(180deg, rgb(56, 34, 35) 0%, rgba(36,0,2,0.7861738445378151) 70%, rgba(0,213,255,0) 100%);
    animation: loadin 1s ease-in; 
}
@keyframes loadin{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

a{
    scale: 0.15;
    position: absolute;
    display: inline-block;
    right: -20.3vw;
    bottom: -76vh;
    filter: saturate(0.65)
}
a:hover{
    -webkit-filter: drop-shadow(0 0 10rem #d2c33d);
    filter: drop-shadow(0 0 10rem #d2c33d);
}

.ground{
    background-color: rgb(190, 161, 135);
    height: 90px;
    width: 100vw;
    display: inline-block;
    position: absolute;
    bottom: -490px;
}

@media (max-width: 768px) {
    
    .right-columns, .left-columns, .column{
        height: 450vh;
    }

    .text1,
    .text2 {
        width: 20%;
        height: 450vh;
    }

    .ground, a{
        bottom: -380vh;
    }
}



@media (max-width: 320px) {
    .roofs{
        transform: scale(0.9);
    }
    .text1,
    .text2 {
        font-size: clamp(0.2rem, 4vw, 3rem);
        margin: 20px;
    }
    .right-columns, .left-columns, .column{
        height: 450vh;
        width: 20px;
    }
}
