html, body{
    font-family: "quiverleaf-cf", sans-serif;
    background-color: #c4c8ba;
    color:darkslateblue;
    height: 100%; 
    overflow: hidden;
}

.diamond {
    padding: 0;
    margin: 0;
    top: -150px;
    left: -160px;
    position: absolute;
    transform: scale(4);
}

.container{
    width: 100%;
    text-align: right;
    position: absolute;
    bottom:2px;
    right: 50px;
}
.roof{
    padding: 0;
    margin: 0;
    display: inline;
    img{
        width: 12%;
    }
}
.title{
    overflow: hidden;
    position: relative;
}


h1{
    font-style: bold;
    font-size: 120px;
    padding-bottom: 0; 
    line-height: 10px;
}

h3{
    font-size: 60px;
    padding-top: 0;
    margin-top: 0;
}

a:hover{
    box-shadow: 0 0 50px 15px #ffffff;
}




