:root {
    --color-bg: cornsilk;
    --color-text-main: #FDCA7C;
    --color-brown: #765514;
    --color-hover: #74500A;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "kavoon", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    background-color: cornsilk;
}
  
.top-bar{
    transform: scale(0.285);
    position: relative;
}
.top-bar::before{
    content: url("//assets/21st-century-cats.png");
    position: absolute;
    top: 40px;
    left: -1550px;
}
.top-bar:hover::before{
    content: url("///assets/21st-century-cats-link.png");
}
  
.navigation{
    display: flex;
    position: absolute;
    top: 60px;
    color: var(--color-text-main);
    font-size: clamp(15px, 28px, 32px);
    right: 60px;
    font-family: var(--font-family);
}
a{
    color: var(--color-text-main);
    text-decoration: none;
}
#view-all {
    margin: 0 0 0 0;
    display: none;
}
#about{
    margin: 0 0 0 35px; 
}
  
#about:hover, #view-all:hover{
    color: var(--color-hover);
}
#about:visited, #view-all:visited{
    color: var(--color-text-main);
}
  
  
.gallery{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 2.5rem;
    grid-auto-flow: dense;
}
  
.gallery .image{
    min-height: 150px;
}
  
.gallery .image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}