:root {
    --color-bg: cornsilk;
    --color-text-main: #FDCA7C;
    --color-brown: #765514;
    --color-hover: #74500A;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "kavoon", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    background-color: cornsilk;
}

.top-bar{
    transform: scale(0.515);
    position: relative;
}
.top-bar::before{
    content: url("https://i.postimg.cc/25R5nMK3/21st-century-cats.png");
    position: absolute;
    top: 22px;  
    left: -570px;
}
.top-bar:hover::before{
    content: url("https://i.postimg.cc/9QqMRC1v/21st-century-cats-link.png");
}
    
.navigation{
    display: flex;
    position: absolute;
    top: 60px;
    color: var(--color-text-main);
    font-size: clamp(15px, 28px, 32px);
    right: 60px;
    font-family: var(--font-family);
}
a{
    color: var(--color-text-main);
    text-decoration: none;
}
#view-all {
    margin: 0 0 0 0;
}
#about{
    margin: 0 0 0 55px; 
}
a:visited{
    color: var(--color-text-main);
}
a:hover{
    color: var(--color-hover);
}  
  
  
.gallery{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 2.5rem;
    grid-auto-flow: dense;
}
  
.gallery .image{
    min-height: 150px;
}
  
.gallery .image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}